/* Apply to the body or the container that holds everything */
body, .centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

/* Image container styles */
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.age-image {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin: 0 10px; /* Spacing between images */
}

/* Theme-specific styles */
.light-theme body, .dark-theme body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

/* Container styles */
.light-theme .container,
.dark-theme .container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px; /* Add some space between the two main sections */
}

.light-theme .leaderboard,
.dark-theme .leaderboard {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}

/* Header styles */
.light-theme h2, .dark-theme h2 {
  text-align: center;
}

/* Question styles */
.light-theme .question, .dark-theme .question {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.light-theme .options button, .dark-theme .options button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.light-theme .options button:hover, .dark-theme .options button:hover {
  background: #0056b3;
}

/* Additional styles */
.light-theme .money-counter, .light-theme .end-game, .light-theme .leaderboard,
.dark-theme .money-counter, .dark-theme .end-game, .dark-theme .leaderboard {
  margin-top: 20px;
  font-size: 1.2em;
}

.light-theme .end-game, .dark-theme .end-game {
  display: none;
}

.light-theme .leaderboard ul, .dark-theme .leaderboard ul {
  list-style: none;
  padding: 0;
}

/* Background for the body */
body.light-theme {
  background: url('img/farmland.png') no-repeat center center fixed;
  background-size: cover;
  color: #3E2723; /* Dark brown text */
}

body.dark-theme {
  background: url('img/farmland.png') no-repeat center center fixed;
  background-size: cover;
  color: #FFEB3B; /* Yellow text */
}
